   

{% block title %}
     {% if object %}
          Update produit
     {% else %}
          New produit
     {% endif %}
{% endblock title %}
{% block content %}

     <div class="container mx-auto">
          <div class="grid grid-cols-1 p-2 lg:p-20 xl:grid-cols-3 xl:gap-4 ">
               
              
               <div class="col-span-2">
                    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                        
                              <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
                                   {% if object %}
                                        Update produit
                                   {% else %}
                                        New produit
                                   {% endif %}
                              </h2>
                              <form method="post" enctype="multipart/form-data" class="py-10 mb-20">
                                   {% csrf_token %}
                                   <div class="mb-4">
                                        <label for="id_name"
                                               class="block mb-2  text-sm font-medium text-gray-600 dark:text-white">
                                             {{ form.name.label }}
                                             <span class="text-red-600">*</span>
                                        </label>
                                     
                                        {{ form.name }}
                                        {% for error in form.name.errors %}
                                             <p>
                                                  <small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small>
                                             </p>
                                        {% endfor %}
                                   </div>
                                   <div class="flex flex-col md:flex-row justify-between space-x-2">
                                        <div class="mb-4 w-full md:w-1/2 dark:text-gray-200">
                                             <label for="id_thumbnail"
                                                    class="block mb-2  text-sm font-medium text-gray-600 dark:text-white">
                                                  {{ form.thumbnail.label }}
                                               
                                             </label>
                                             {{ form.thumbnail }}
                                             {% for error in form.thumbnail.errors %}
                                                  <p>
                                                       <small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small>
                                                  </p>
                                             {% endfor %}
                                        </div>
                                        <div class="mb-4 w-full md:w-1/2">
                                             <label for="id_price"
                                                    class="block mb-2  text-sm font-medium text-gray-600 dark:text-white">
                                                  {{ form.price.label }}
                                                  <span class="text-red-600">*</span>
                                             </label>
                                             {{ form.price }}
                                             {% for error in form.price.errors %}
                                                  <p>
                                                       <small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small>
                                                  </p>
                                             {% endfor %}
                                        </div>
                                   </div>
                                 
                                   <div class="mb-4">
                                        <label for="id_description"
                                               class="block mb-2  text-sm font-medium text-gray-600 dark:text-white">
                                             {{ form.description.label }}
                                             <span class="text-red-600">*</span>
                                        </label>
                                        {{ form.description }}
                                        {% for error in form.description.errors %}
                                             <p>
                                                  <small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small>
                                             </p>
                                        {% endfor %}
                                   </div>
                                 
                                   <button class="text-white bg-gradient-to-r from-redPrime via-redPrime to-redDark hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-redDark dark:focus:ring-redDark shadow-lg shadow-redDark/50 dark:shadow-lg dark:shadow-redPrime/80 font-medium rounded-lg text-sm px-10 py-2.5 text-center mr-2 mb-2"
                                           type="submit">
                                        {% if object %}
                                             Update
                                        {% else %}
                                             Create
                                        {% endif %}
                                   </button>
                              </form>
                         
                    </div>
               </div>
          </div>
     </div>

     {{ form.media }}

            {% endblock content %}